<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="header header-fixed">
  <div class="navbar container" style="background-color: black !important;">
      <div class="logo"><a [routerLink]="['/']">Movies IDM</a></div>
      <input type="checkbox" id="navbar-toggle" >
      <label for="navbar-toggle"><i></i></label>
      <nav class="menu">
          <ul>
              <li><a [routerLink]="['/']">Home</a></li>
             
              <li><a [routerLink]="['/favoris']">Favorits</a></li>
          </ul>
      </nav>        
  </div>
</div>
    

<div class="content" role="main"  >

  <router-outlet></router-outlet>

  <!-- Footer -->
  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


