<div>
<div style="text-align: center; width: 700px !important;">
        <input type="text" placeholder="Search" #query />
        <button (click)="ShowFilms(query.value)" class="btn" style="background-color: #7009e5; color: ghostwhite;">Search </button>
                <br>
                <br>
                <br>
        </div>
        <div style="display: flex; justify-content: space-around; align-content: space-between; flex-wrap: wrap;">
        <app-film-component style="width: 30%; margin: 10px;" *ngFor="let film of films" [film]="film"></app-film-component>
        </div>
</div>
